<h2>Post a Question</h2>

<div class="form">
        <%= form_tag("/Question/Post" ,method: "post") do %>
        <div class="form-element">
      <%= label_tag(:forum, "Forum") %>
      <%= select_tag(:forum, options_from_collection_for_select(forum_list(), "id", "name", @forum_id), class:"form-control") %>
      </div>
      <div class="form-element">
      <%= label_tag(:name, "Name") %>
      <%= text_field_tag(:name, "",{class:"form-control"}) %>
      </div>
      
        <div class="form-element">
      <%= label_tag(:title, "Question") %>
      <%= text_field_tag(:title, "",{class:"form-control"}) %>
      </div>
      <div class="form-element">
      <%= label_tag(:description, "Description") %>
      <%= text_area_tag(:description, "",{class:"form-control", rows:4}) %>
      </div>
      <%= submit_tag("Post",{class:"btn btn-default btn-dark"}) %>
      <a href="<%= url_for(action:"view_forum",controller:"forum", id: @forum_id )%>" class="btn btn-default">Cancel</a>
    <% end %>
    
</div>