<h2>
    Popular Questions
</h2>
<div class="popular-questions">
    <%@popular_questions.each do |question|%>
    <div class="question-summary">
        
             <a href="<%= url_for(action:"view_forum",controller:"forum",id: question.forum.id) %>">
        <div class="qs-forum">
            <%= question.forum.name %>
           
        </div>
         </a>
        <div class="qs-question">
             <a href="<%= url_for(action:"view_question",controller:"qa",id: question.id) %>">
            <%= question.title %>
            </a>
        </div>
        <div class="qs-author">
            <a href="">
            - <%= question.author %>
            </a>
        </div>
        <a href="<%= url_for(action:"view_question",controller:"qa",id: question.id) %>">
        <div class="qs-answers">
        
            <span class="qs-a-expand">View </span> <%= question.num_answers %> <span class="qs-a-expand">Answers <i class="fa fa-arrow-right"></i></span>
       
        </div>
         </a>
        <div class="qs-time">
            <%= question.created_on %>
        </div>
        
    </div>
    <%end %>
    
    <div class="more-link">
      <!--<a>View More</a>-->
    </div>
</div>

<%= render "list_forums" %>
