<% #TODO : <HUNTER> : functional but ugly %>

<div class="question-forum">
    <h3><span>SECTION PAGE</span><span class="arial">//</span><%= @section.section_name%></h3>
</div>

<h4>Instructor</h4>
<p><a href="<%= url_for action:"view", controller:"users", id:@section.user_id %>"><%= @section.instructor&.user_name %></a></p>

<h4>Enrolled Students</h4>

<% @section.students&.each do |student| %>
<p><a href="<%= url_for action:"view", controller:"users", id:@section.user_id %>"><%= student&.user_name %></a></p>

<% end %>