
<% ## TODO :  %>
<div class="question-forum">
    <h3>User Page</h3>
</div>

<h3>User Name</h3>
<%= @user.user_name%>
<br>

<h3>User Reputation</h3>
<p>Questions: <strong><%= @user.reputation[:num_questions] %></strong></p>
<p>Answers: <strong><%= @user.reputation[:num_answers] %></strong></p>
<p>Upvotes Received:  <strong><%= @user.reputation[:up_votes] %></strong></p>
<p>Downvotes Received:  <strong><%= @user.reputation[:down_votes] %></strong></p>

<h3>Recent Questions</h3>
<%@user.recent_questions&.each do |question| %>
<p><a href="<%= url_for action:"view_question", controller:'qa', id: question.id %>"><%= question.title %></a></p>
<% end %>
<h3>Recent Answers</h3>
<% @user.recent_answers&.each do |answer| %>
<p><a href="<%= url_for action:"view_question", controller:'qa', id: answer.question_id %>"><%= answer.text %></a></p>
<% end %>
<h3>Classes</h3>
<%@user.classes&.each do |course| %>
<p><%= course.course_name %></p>
<% end %>