<% #TODO : HUNTER : search form   %>
<h2>Search</h2>

<div>
    <div class="form">
      <%= form_for @search do |s| %>
      
      <div class="form-element">
      <%= label_tag("question[forum_id]", "Forum") %>
      <%= select_tag("question[forum_id]", options_from_collection_for_select(forum_list(), "id", "forum_name", @forum_id), class:"form-control") %>
      </div>
    
      
        <div class="form-element">
      <%= label_tag("question[title]", "Question") %>
      <%= text_field_tag("question[title]", "",{class:"form-control"}) %>
      </div>
      <div class="form-element">
      <%= label_tag("question[text]", "Description") %>
      <%= text_area_tag("question[text]", "",{class:"form-control", rows:4}) %>
      </div>
      <%= submit_tag("Post",{class:"btn btn-default btn-dark"}) %>
      <a href="<%= url_for(action:"view_forum",controller:"forum", id: @forum_id )%>" class="btn btn-default">Cancel</a>
    
    <% end %>
    
</div>
    
    
</div>