<% #TODO : HUNTER : search form   %>
<h2>Search</h2>

<div>
  
  <div class="form-element">
      <%= label_tag("question[forum_id]", "Search For") %>
     <select >
       <option value="question">Question</option>
       <option value="course">Course</option>
       </select>
      </div>
      
    <div class="form">
        <%= form_tag(search_result_url ,method: "post") do %>
      
      
    <div id="question-fields">
      
        <div class="form-element">
      <%= label_tag("search[title]", "Question") %>
      <%= text_field_tag("search[title]", "",{class:"form-control"}) %>
      </div>
     
      
    </div>
         
    <div id="course-fields"></div>
      
      
      
      <%= submit_tag("Search",{class:"btn btn-default btn-dark"}) %>
      <a href="<%= url_for(action:"index",controller:"forum" )%>" class="btn btn-default">Cancel</a>
    
    <% end %>
    
</div>
    
    
</div>