<!DOCTYPE html>
<html>
  <head>
    <title>Nkunet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 
<body class="nkuBackground">

  
 <div>
     
     
  <nav class="navbar navbar-inverse <% if current_user&.admin? %> navbar-admin<% end %>  
  <% if current_user&.faculty? %> navbar-faculty<% end %>
  <% if current_user&.registrar? %> navbar-registrar<% end %>
  ">
  <div class="container">
    <div class="navbar-header">
      
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      
      <a class="navbar-brand" href="<%= url_for(action:"index", controller:"forum") %>"><%= image_tag("logo.png", {:class=>"logo", :alt=>"NKUNet"}) %></a>
     </div>
    
    <div class="collapse navbar-collapse" id="nav-collapse">
    <ul class="nav navbar-nav navbar-right vertical-center-content">

    </ul>
    </div>
  </div>
</nav>

 <div class="container main-content">
  <%= yield %>
</div>
</div>

   <footer>
     <div class="container">
     <div class="footer-info">
       Created by I5S
     </div>
     </div>
   </footer>
</body>
</html>